@inherits LayoutComponentBase

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Lists
@inject NavigationManager NavigationManager
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper;

<div id="wrapper">
    <div>
        <div id="header" style="width: 100%">
            <span style="float: left">
                <SfButton CssClass="custom-button" IconCss="e-icons e-menu" @onclick="MenuButtonClick">
                </SfButton>
            </span>
            <span style="float: left; font-size: 20px; padding-left: 10px"></span>
            <span style="font-size: 25px">@HeaderText</span>
        </div>
        <SfSidebar class="dockSidebar sideBarMenu" Width="161" DockSize="60px" Target=".e-main-content" EnableDock="true" Position="SidebarPosition.Left" @bind-IsOpen="ToggleSidebar"
                   MediaQuery="(min-width: 600px)" Type="SidebarType.Auto">
            <ChildContent>
                <SfListView DataSource="@List" TValue="ListData" CssClass="e-template-list" ShowIcon="true">
                    <ListViewFieldSettings TValue="ListData" Id="Id" Text="Text" IconCss="IconCss"></ListViewFieldSettings>
                    <ListViewEvents TValue="ListData" Clicked="OnSelect"></ListViewEvents>
                    <ListViewTemplates TValue="ListData">
                        <Template Context="data">
                            <NavLink href="@data.Href" class="nav-link">
                                <div class="e-list-icon">
                                    <span class="@data.IconCss"></span>
                                </div>
                                <div class="e-list-content">
                                    <div class="e-text-content">
                                        <div class="e-list-title">@data.Text</div>
                                    </div>
                                </div>
                            </NavLink>
                        </Template>
                    </ListViewTemplates>
                </SfListView>
            </ChildContent>
        </SfSidebar>
    </div>
    @*main content declaration*@
    <div class="main-text-content">@Body</div>
</div>

@code {
    public void OnSelect(ClickEventArgs<ListData> args)
    {
    }

    // Specify the value of ListView component DataSource property.
    public List<ListData> List = new List<ListData>
    {
        new ListData {Id="1", Text = "1", IconCss = "sb-icons icon-calendar e-sb-icon control-icon", Href="/counter" },
        new ListData {Id="2", Text = "2", IconCss = "sb-icons icon-calendar e-sb-icon control-icon", Href="/fetchdata" },
    };
    public class ListData
    {
        public string Id { get; set; }
        public string Text { get; set; }
        public string IconCss { get; set; }
        public string Href { get; set; }
    }

    public bool ToggleSidebar = true;
    public void MenuButtonClick()
    {

        ToggleSidebar = !ToggleSidebar;
    }

    public string HeaderText = "Header";

}

<style>
    .e-sidebar.e-left.e-open.e-disable-animation, .e-sidebar.e-right.e-open.e-disable-animation, .e-sidebar.e-right.e-close.e-disable-animation, .e-sidebar.e-left.e-close.e-disable-animation {
        top: 50px;
    }

    /* Sample specific styles */
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .maincontent {
        margin-left: 57px;
    }

    #wrapper {
    }

        #wrapper .content {
            font-size: 14px;
            padding: 15px;
        }
    /* Specifies the Sidebar component related styles */
    .dockSidebar.e-sidebar.e-right.e-close {
        visibility: visible;
        transform: translateX(0%);
    }

    .dockSidebar .e-sb-icon::before {
        font-size: 24px;
    }

    .dockSidebar.e-close .sidebar-item {
        padding: 5px 20px;
    }

    .dockSidebar.e-dock.e-close span.e-text {
        display: none;
    }

    .dockSidebar.e-dock.e-open span.e-text {
        display: inline-block;
    }

    .dockSidebar span.e-icons {
        line-height: 2
    }

    .e-open .e-icons {
        margin-right: 16px;
    }

    .e-open .e-text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 23px;
        font-size: 15px;
    }
    /* Specifies the ListView component related styles */
    .e-bigger .dockSidebar .e-listview .e-list-icon + .e-list-text {
        padding-left: 10px;
    }

    .bootstrap4.e-bigger .dockSidebar .e-listview .e-list-icon + .e-list-text {
        padding-left: 4px;
    }

    .bootstrap4.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons,
    .bootstrap.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons,
    .highcontrast.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin-top: -10px;
    }

    .bootstrap.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons,
    .bootstrap-dark.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin-top: -15px;
    }

    .material.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons,
    .material-dark.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin-top: -18px;
    }

    .fabric.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons,
    .fabric-dark.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin-top: -18px;
    }

    .e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons::before {
        font-size: 26px;
    }

    .bootstrap5.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons,
    .bootstrap5-dark.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin-bottom: -10px;
    }

    .tailwind.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons,
    .tailwind-dark.e-bigger .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin-bottom: -3px;
    }

    .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin: 0;
    }

    .material .dockSidebar .e-listview .e-list-icon.sb-icons,
    .material-dark .dockSidebar .e-listview .e-list-icon.sb-icons,
    .bootstrap .dockSidebar .e-listview .e-list-icon.sb-icons,
    .bootstrap-dark .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin-top: -8px;
    }

    .tailwind .dockSidebar .e-listview .e-list-icon.sb-icons,
    .tailwind-dark .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin: 0 5px;
        margin-top: -4px;
    }

    .bootstrap4 .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin-top: -8px;
    }

    .bootstrap5 .dockSidebar .e-listview .e-list-icon.sb-icons,
    .bootstrap5-dark .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin-bottom: -12px;
    }

    .fabric .dockSidebar .e-listview .e-list-icon.sb-icons,
    .fabric-dark .dockSidebar .e-listview .e-list-icon.sb-icons {
        margin-top: -4px;
    }

    .dockSidebar .e-listview {
        border: 0px;
        border-radius: 0;
    }
    /* Specifies the Toolbar component related styles */
    .dockToolbar.e-toolbar {
        border-left: 0px;
        border-right: 0px;
    }
    /* Specifies the ListView template item related styles */
    .fabric .dockSidebar .e-listview:not(.e-list-template) .e-list-item,
    .material .dockSidebar .e-listview:not(.e-list-template) .e-list-item,
    .material-dark .dockSidebar .e-listview:not(.e-list-template) .e-list-item,
    .bootstrap .dockSidebar .e-listview:not(.e-list-template) .e-list-item,
    .fabric-dark .dockSidebar .e-listview:not(.e-list-template) .e-list-item,
    .bootstrap-dark .dockSidebar .e-listview:not(.e-list-template) .e-list-item,
    .bootstrap5 .dockSidebar .e-listview:not(.e-list-template) .e-list-item,
    .bootstrap4 .dockSidebar .e-listview:not(.e-list-template) .e-list-item,
    .bootstrap5-dark .dockSidebar .e-listview:not(.e-list-template) .e-list-item {
        padding-left: 16px;
        padding-right: 16px;
    }

    .tailwind .e-dock.e-close.dockSidebar .e-listview:not(.e-list-template) .e-list-item,
    .tailwind-dark .e-dock.e-close.dockSidebar .e-listview:not(.e-list-template) .e-list-item {
        padding-left: 12px;
        padding-right: 12px;
    }

    .highcontrast .dockSidebar .e-listview:not(.e-list-template) .e-list-item {
        padding-left: 14px;
        padding-right: 14px;
    }
    /* Specifies the Toolbar component related styles in light themes*/
    .material .dockToolbar.e-toolbar {
        border-bottom: 1px solid rgba(0,0,0,0.12);
    }

    .fabric .dockToolbar.e-toolbar {
        border-bottom: 1px solid #eaeaea;
    }

    .tailwind .dockToolbar.e-toolbar {
        border-bottom: 1px solid #d7d7d7;
    }

    .bootstrap5-dark .dockToolbar.e-toolbar {
        border-bottom: 1px solid #444c54;
    }

    .bootstrap5 .dockToolbar.e-toolbar {
        border-bottom: 1px solid #dee2e6;
    }
    /* Specifies the Toolbar component related styles in dark themes*/
    .material-dark .dockToolbar.e-toolbar {
        border-bottom: 1px solid #616161;
    }

    .fabric-dark .dockToolbar.e-toolbar {
        border-bottom: 1px solid #414040;
    }

    .tailwind-dark .dockToolbar.e-toolbar {
        border-bottom: 1px solid #4b5563;
    }
    /* Specifies the Sidebar component related styles in light themes*/
    .material .dockSidebar {
        border-right: 1px solid rgba(0,0,0,0.12) !important;
    }

    .fabric .dockSidebar {
        border-right: 1px solid #eaeaea !important;
    }

    .tailwind .dockSidebar {
        border-right: 1px solid #d7d7d7 !important;
    }
    /* Specifies the Sidebar component related styles in dark themes*/
    .bootstrap5-dark .dockSidebar {
        border-right: 1px solid #444c54 !important;
    }

    .bootstrap5 .dockSidebar {
        border-right: 1px solid #dee2e6 !important;
    }

    .material-dark .dockSidebar {
        border-right: 1px solid #616161 !important;
    }

    .fabric-dark .dockSidebar {
        border-right: 1px solid #414040 !important;
    }

    .tailwind-dark .dockSidebar {
        border-right: 1px solid #4b5563 !important;
    }

    .e-bigger.bootstrap5 .dockSidebar .e-listview:not(.e-list-template) .e-list-item,
    .e-bigger.bootstrap5-dark .dockSidebar .e-listview:not(.e-list-template) .e-list-item {
        height: 43px;
    }

    #wrapper .dockSidebar {
        z-index: 20 !important;
    }

    /* Specifies the Sidebar component icons related styles*/
    @@font-face {
        font-family: 'e-icons';
    }


    .dockSidebar .e-sb-icon {
        font-family: 'e-icons';
        /*font-style: normal;*/
        font-weight: bold;
        /*font-variant: normal;*/
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    /* Specifies the ListView component icons related styles*/
    .dockSidebar .icon-calendar::before {
        content: '\e876';
    }

    .dockSidebar .icon-chart::before {
        content: '\e88c';
    }

    .dockSidebar .icon-box::before {
        content: '\e884'; /*e601*/
    }

    /* Specifies the Toolbar component related styles*/
    .e-folder {
        font-size: 16px;
        font-weight: 500;
    }

    .e-bigger .e-folder {
        font-size: 18px;
    }
    /* Specifies the Toolbar component related styles for light themes*/
    .bootstrap5 .e-folder-name, .bootstrap5-dark .e-folder-name {
        margin-top: -2px;
    }

    .bootstrap4 .e-folder-name,
    .bootstrap .e-folder-name, .bootstrap-dark .e-folder-name {
        margin-top: 3px;
    }

    .material .e-folder-name, .material-dark .e-folder-name {
        margin-top: 1px;
    }

    @@font-face {
        font-family: 'e-icons';
        font-weight: normal;
        font-style: normal;
    }

    .e-bigger .e-tbar-btn .tb-icons {
        font-size: 20px;
        border-color: transparent;
    }

    .e-btn:hover, .e-css.e-btn:hover {
        border: none;
        border-color: transparent;
    }

    .e-tbar-btn {
        border: none;
        border-color: transparent;
    }

        .e-tbar-btn:hover {
            border: none;
            border-color: transparent;
        }

        .e-tbar-btn:active {
            border: none;
            border-color: transparent;
        }

        .e-tbar-btn:focus {
            border: none;
            border-color: transparent;
        }

    .e-btn, .e-css.e-btn {
        border: none;
        border-color: transparent;
    }

    .e-tbar-btn .tb-icons {
        font-family: 'e-icons';
        speak: none;
        font-size: 16px;
        text-transform: none;
        color: #8A2336;
    }

    .e-listview .e-list-item {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        color: #8A2336;
        font-weight: bold;
    }

        .e-listview .e-list-item.e-focused, .e-listview .e-list-item.e-focused.e-active.e-checklist, .e-listview .e-list-item:hover {
            background-color: #E4E3E1;
            color: #8A2336;
        }

    .e-toolbar .e-icons {
        font-size: 20px;
    }

    .e-tbar-menu-icon:before {
        content: "\e87d";
    }

    .bootstrap5:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .bootstrap5-dark:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .bootstrap4:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .bootstrap:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .bootstrap-dark:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .highcontrast:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .material:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .material-dark:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
        margin-left: 10px;
    }

    .tailwind:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .tailwind-dark:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
        margin-left: 12px;
        padding: 2px;
    }

    .tailwind:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:first-child > .e-toolbar-item:last-child,
    .tailwind-dark:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:first-child > .e-toolbar-item:last-child {
        padding: 0;
    }

    .fabric:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .fabric-dark:not(.e-bigger) .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
        margin-left: 8px;
    }

    .bootstrap5.e-bigger .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .bootstrap5-dark.e-bigger .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .highcontrast.e-bigger .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
        margin-left: 4px;
    }

    .material.e-bigger .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .material-dark.e-bigger .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
        margin-left: 6px;
    }

    .bootstrap4.e-bigger .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .tailwind.e-bigger .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
    .tailwind-dark.e-bigger .dockToolbar.e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
        margin-left: 8px;
    }

    .custom-button-open, .custom-button-open:hover, .custom-button-open:focus, .custom-button-open:active {
        color: #8A2336 !important;
        font-size: 20px !important;
        font-weight: bold;
        background-color: transparent !important;
        border: none !important;
        /*border-radius: 12px;*/
        border-color: transparent !important;
        outline: none !important;
        text-decoration: none !important;
    }

        .custom-button-open:before {
            content: '\e87e';
        }

    .custom-button-close, .custom-button-close:hover, .custom-button-close:focus, .custom-button-close:active {
        color: #8A2336 !important;
        font-size: 20px !important;
        font-weight: bold;
        background-color: transparent !important;
        border: none !important;
        border-color: transparent !important;
        outline: none !important;
        text-decoration: none !important;
    }

        .custom-button-close:before {
            content: '\e87d';
        }

    #header {
        text-align: center;
        background-color: #F2F2F2;
        padding-top: 5px;
        text-align: center;
        padding-left: 5px;
    }

    .main-text-content {
        font-size: 18px;
        text-align: left;
        padding-top: 50px;
        padding-left: 30px;
    }

    .e-sidebar {
    }

        .e-sidebar.e-left {
            top: 55px;
        }

        .e-sidebar.e-right {
            top: 55px;
        }

    @@font-face {
        font-family: 'e-icons';
        font-weight: normal;
        font-style: normal;
    }

    .main > div {
        padding: 0px !important;
    }

    .e-listview .e-list-icon + .e-list-text {
        margin-bottom: 5px;
        margin-left: 10px;
        color: #999595;
    }

    /*fixer hauteur sidebar-menu*/
    .sideBarMenu {
        background-color: #F2F2F2;
        margin-bottom: -101%;
        padding-bottom: 101%;
        overflow: hidden;
    }

    /*menu open new window for menu*/
    .nav-link .e-list-content {
        padding-left: 47px;
        margin-top: -25px;
        color: darkblue;
    }

    .nav-link, .nav-link:hover, .nav-link:active, .nav-link:visited, .nav-link:focus {
        padding-left: 2px !important;
        color: darkblue;
    }

    .btnAdmin:before {
        content: url("/images/Admin.svg");
    }
</style>